In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
톨게이트 = pd.read_csv('/Users/hayeon/Downloads/톨게이트 입구 교통량.csv')

In [8]:
확진자 = pd.read_csv('/Users/hayeon/Downloads/TimeProvince.csv')

In [13]:
매출 = pd.read_excel('/Users/hayeon/Downloads/매출.xlsx', header=[0, 1], index_col=[0,1,2])

In [15]:
확진자

           date  time          province  confirmed  released  deceased
0     2020.1.20    16             Seoul          0         0         0
1     2020.1.20    16             Busan          0         0         0
2     2020.1.20    16             Daegu          0         0         0
3     2020.1.20    16           Incheon          1         0         0
4     2020.1.20    16           Gwangju          0         0         0
...         ...   ...               ...        ...       ...       ...
2766  2020.6.30     0      Jeollabuk-do         27        21         0
2767  2020.6.30     0      Jeollanam-do         24        19         0
2768  2020.6.30     0  Gyeongsangbuk-do       1389      1328        54
2769  2020.6.30     0  Gyeongsangnam-do        134       128         0
2770  2020.6.30     0           Jeju-do         19        16         0

[2771 rows x 6 columns]

In [31]:
확진자.province.unique()

array(['Seoul', 'Busan', 'Daegu', 'Incheon', 'Gwangju', 'Daejeon',
       'Ulsan', 'Sejong', 'Gyeonggi-do', 'Gangwon-do',
       'Chungcheongbuk-do', 'Chungcheongnam-do', 'Jeollabuk-do',
       'Jeollanam-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do'],
      dtype=object)

In [33]:
확진자.pivot_table(index=['province','date'],values='confirmed',aggfunc='sum')

                    confirmed
province date
Busan    2020.1.20          0
         2020.1.21          0
         2020.1.22          0
         2020.1.23          0
         2020.1.24          0
...                       ...
Ulsan    2020.6.5          52
         2020.6.6          52
         2020.6.7          53
         2020.6.8          53
         2020.6.9          53

[2771 rows x 1 columns]

In [70]:
전국일자매출합계 = 매출.sum(axis=1)

In [51]:
지역명 = ['전국','서울특별시','부산광역시','대구광역시','인천광역시','광주광역시',
      '대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도',
      '경상북도','경상남도','제주특별자치도']

In [61]:
매출.전국.sum(axis=1)

구분
2019  1  1     1.244484e+11
         2     9.010527e+10
         3     9.170426e+10
         4     1.039682e+11
         5     1.379349e+11
                   ...
2021  7  14    6.324676e+10
         15    6.559258e+10
         16    6.937852e+10
         17    9.288544e+10
         18    7.374922e+10
Length: 930, dtype: float64

In [79]:
매출

                    전국                                                \
                   총소비         숙박업        여행업        대중교통        렌터카
구분
2019 1 1   62224211777  2558825216    4968700  1924099650   18484650
       2   45052634245  1310859797  497752491  2086178560   20474430
       3   45852131106  1183359462  458739351  1992871610   25622490
       4   51984099037  1260500864  432180223  2145175680   21801880
       5   68967443731  2666735728    9644100  1909402850   16523792
...                ...         ...        ...         ...        ...
2021 7 14  31623382400   809747146    2048000  1077868690   48080693
       15  32796287921   755331537    6249000  1090511050  988291713
       16  34689259114   708896211    2769000  1232399820   44375995
       17  46442721082  1187237741    5850700  1085949940   48634951
       18  36874612229   869045759    8672290   184978630   37100545

                                                                         ...  \
                  항공사           카지노       레저스포츠         면세점       문화서비스  ...
구분                                                                       ...
2019 1 1    738970484  1.266470e+09  2115910673  4844465840  1487135187  ...
       2   1853743070  1.562090e+09  1993970278  4074518789   567717534  ...
       3   1729865090  1.232550e+09  1698205084  4170845081   559614568  ...
       4   2046498007  1.762180e+09  1829628490  4123577829   652714552  ...
       5    823053064  1.689120e+09  2603613532  4058066162  1176269891  ...
...               ...           ...         ...         ...         ...  ...
2021 7 14   460779488  5.530000e+06  3398587107   273577872   247313082  ...
       15   471697336           NaN  3385253617   263872658   144474160  ...
       16   398677108  5.750000e+07  3316208980    52986763   160890033  ...
       17   293946214  1.400000e+07  4009992231    13123695   307348360  ...
       18   223367340  8.450000e+07  3917553255    46618120   199534270  ...

             제주특별자치도                                                           \
                 여행업       렌터카          항공사      레저스포츠          면세점     문화서비스
구분
2019 1 1     61000.0  18050750   58928982.0   61933157  481877021.0  33116980
       2    467860.0  17536830  145949489.0   41725935  387521815.0  15543410
       3    383800.0  25622490  144124856.0   37519667  319779565.0  13185005
       4    840940.0  17332580  169192413.0   42233023  302662373.0  14356740
       5    587500.0  13828192   67545145.0   59147253  386995488.0  21968790
...              ...       ...          ...        ...          ...       ...
2021 7 14   209800.0  45657422   42181100.0  106376570  227289170.0  15611350
       15  4342300.0  38311810   42503700.0  103651940  221494510.0  14020500
       16   654200.0  42153045   38078100.0   86587450    1267640.0  16020900
       17  1207700.0  47662051   36817700.0  120586270     830620.0  19113900
       18  2452890.0  36701545          NaN  107776953          NaN  24107600


          쇼핑(면세점 제외)        식음료      대중교통 카지노
구분
2019 1 1   106313420  554254221       NaN NaN
       2    74976750  441263408  110000.0 NaN
       3    69471872  448673705       NaN NaN
       4    61056660  481995188       NaN NaN
       5    72216890  556552443  420000.0 NaN
...              ...        ...       ...  ..
2021 7 14   67080680  701792203       NaN NaN
       15   70154270  688867685       NaN NaN
       16   64902840  708434562   98000.0 NaN
       17   75842308  790485030       NaN NaN
       18   69244110  750081992  164000.0 NaN

[930 rows x 184 columns]

In [84]:
li = []
for name in 지역명:
    a = name,매출[name].총소비
    print(a)
    print()

('전국', 구분
2019  1  1     62224211777
         2     45052634245
         3     45852131106
         4     51984099037
         5     68967443731
                  ...
2021  7  14    31623382400
         15    32796287921
         16    34689259114
         17    46442721082
         18    36874612229
Name: 총소비, Length: 930, dtype: int64)

('서울특별시', 구분
2019  1  1     18325049873
         2     17598098778
         3     18390219882
         4     20703215962
         5     22762898246
                  ...
2021  7  14     8381639587
         15     8208174651
         16     8839825686
         17     9704929744
         18     6966148543
Name: 총소비, Length: 930, dtype: int64)

('부산광역시', 구분
2019  1  1     6225070964
         2     4423856448
         3     4235021122
         4     4643037987
         5     6514295261
                  ...
2021  7  14    2830894588
         15    2854809241
         16    3152784272
         17    4098706150
         18    3033266240
Name: 총소비, Length: 930, dtype: int64)

('대구광역시', 구분
2019  1  1     2609915473
         2     1820488471
         3     1885814360
         4     2082131399
         5     3033025770
                  ...
2021  7  14    1408110415
         15    1354018602
         16    1549990042
         17    2026929867
         18    1597686775
Name: 총소비, Length: 930, dtype: int64)

('인천광역시', 구분
2019  1  1     4763051597
         2     3470630445
         3     3175492716
         4     3734680825
         5     4701675381
                  ...
2021  7  14    1144922566
         15    1170939950
         16    1244037129
         17    1928110406
         18    1647135893
Name: 총소비, Length: 930, dtype: int64)

('광주광역시', 구분
2019  1  1     1374616487
         2      944603702
         3     1019761526
         4     1165790944
         5     1649850822
                  ...
2021  7  14     991842934
         15     961856364
         16    1093757581
         17    1375201167
         18    1025029904
Name: 총소비, Length: 930, dtype: int64)

('대전광역시', 구분
2019  1  1     2159600131
         2     1973600387
         3     1996596700
         4     2197937801
         5     2447407928
                  ...
2021  7  14    1102839911
         15    1127712667
         16    1270708328
         17    1335618170
         18     565404526
Name: 총소비, Length: 930, dtype: int64)

('울산광역시', 구분
2019  1  1      973985348
         2      649169769
         3      568201503
         4      702499800
         5     1009093280
                  ...
2021  7  14     544159042
         15     569164004
         16     618847018
         17     805063835
         18     715915322
Name: 총소비, Length: 930, dtype: int64)

('세종특별자치시', 구분
2019  1  1      77538240
         2      68907880
         3      76275260
         4      75675805
         5      99187490
                 ...
2021  7  14    102105730
         15    103478718
         16    105846116
         17    130925960
         18    109884010
Name: 총소비, Length: 930, dtype: int64)

('경기도', 구분
2019  1  1     12503336097
         2      7044393985
         3      7452446605
         4      8738525931
         5     13678993108
                  ...
2021  7  14     6594837886
         15     7813888868
         16     7658540455
         17    11210524699
         18     9445342770
Name: 총소비, Length: 930, dtype: int64)

('강원도', 구분
2019  1  1     2118913513
         2      749735647
         3      687116814
         4      812609757
         5     1941231621
                  ...
2021  7  14     997945003
         15    1013221509
         16    1142390489
         17    1982830338
         18    1603368839
Name: 총소비, Length: 930, dtype: int64)

('충청북도', 구분
2019  1  1      891850883
         2      585668111
         3      615864963
         4      688763793
         5     1063557320
                  ...
2021  7  14     831925391
         15     889830202
         16     913626814
         17    1337701594
         18    1145677255
Name: 총소비, Length: 930, dtype: int64)

('충청남도', 구분
2019  1  1     1559251703
         2      830626585
         3      836378832
         4     1001203113
         5     1639924573
                  ...
2021  7  14     894129429
         15     943350101
         16    1073475234
         17    1764653782
         18    1389635828
Name: 총소비, Length: 930, dtype: int64)

('전라북도', 구분
2019  1  1     1262110467
         2      813503614
         3      813610488
         4      937769545
         5     1437930207
                  ...
2021  7  14     784350973
         15     800717889
         16     884706429
         17    1356106189
         18    1106851897
Name: 총소비, Length: 930, dtype: int64)

('전라남도', 구분
2019  1  1     1299015870
         2      567328604
         3      594943450
         4      662976416
         5     1162473512
                  ...
2021  7  14     831856759
         15     837374975
         16     906213907
         17    1486955325
         18    1309711843
Name: 총소비, Length: 930, dtype: int64)

('경상북도', 구분
2019  1  1     2144614401
         2      968298711
         3     1036563920
         4     1099387306
         5     1905167293
                  ...
2021  7  14    1239087683
         15    1298131819
         16    1461474379
         17    2260007144
         18    2070573985
Name: 총소비, Length: 930, dtype: int64)

('경상남도', 구분
2019  1  1     2475688572
         2     1338714710
         3     1342810693
         4     1569471355
         5     2583781443
                  ...
2021  7  14    1572439273
         15    1522995568
         16    1702871979
         17    2465509661
         18    2077233102
Name: 총소비, Length: 930, dtype: int64)

('제주특별자치도', 구분
2019  1  1     1460602158
         2     1205008398
         3     1125012272
         4     1168421298
         5     1336950476
                  ...
2021  7  14    1370295230
         15    1326622793
         16    1070163256
         17    1172947051
         18    1065745497
Name: 총소비, Length: 930, dtype: int64)

In [73]:
코로나 = pd.read_csv('/Users/hayeon/Downloads/corona.csv')

In [104]:
코로나.pivot_table(index=['province','date'], values='new_confirmed', aggfunc='sum')

                    new_confirmed
province date
Busan    2020.1.20              0
         2020.1.21              0
         2020.1.22              0
         2020.1.23              0
         2020.1.24              0
...                           ...
Ulsan    2021.3.5               3
         2021.3.6               4
         2021.3.7               2
         2021.3.8               3
         2021.3.9              11

[7429 rows x 1 columns]

In [92]:
# 2020.1.20 ~ 21.3.31
기간지정 = 매출.loc[(2020,1,20):(2021,3,31)]

In [116]:
tes = 기간지정.T

In [170]:
tes.loc['전국','총소비']

구분
2020  1  20    4.250439e+10
         21    4.487312e+10
         22    4.691468e+10
         23    5.747070e+10
         24    5.850656e+10
                   ...
2021  3  27    5.171519e+10
         28    4.132630e+10
         29    3.096465e+10
         30    3.331770e+10
         31    3.621798e+10
Name: (전국, 총소비), Length: 437, dtype: float64

In [218]:
기간확진자 = 코로나.groupby('date').sum().new_confirmed

In [219]:
기간전국매출 = 기간지정.전국.총소비

In [220]:
corr = np.corrcoef(기간확진자, 기간전국매출)
print(corr)

[[ 1.         -0.13975997]
 [-0.13975997  1.        ]]

In [229]:
부산확진 = 코로나[코로나.province=='Busan'].new_confirmed

In [230]:
부산매출 = 기간지정.부산광역시.총소비

In [231]:
corr = np.corrcoef(부산확진, 부산매출)
print(corr)

[[ 1.         -0.34187527]
 [-0.34187527  1.        ]]

> **부산확진자가 늘어나면 부산 매출이 감소하는 약한 음의 상관관계가 있다**

In [233]:
코로나.province.unique()

array(['Seoul', 'Busan', 'Daegu', 'Incheon', 'Gwangju', 'Daejeon',
       'Ulsan', 'Sejong', 'Gyeonggi-do', 'Gangwon-do',
       'Chungcheongbuk-do', 'Chungcheongnam-do', 'Jeollabuk-do',
       'Jeollanam-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do',
       'Jeju'], dtype=object)

---
> **강원도 확진-매출 상관관계**

In [234]:
강원도확진 = 코로나[코로나.province=='Gangwon-do'].new_confirmed
강원도매출 = 기간지정.강원도.총소비

In [235]:
corr = np.corrcoef(강원도확진, 강원도매출)
print(corr)

[[ 1.         -0.23355179]
 [-0.23355179  1.        ]]

In [241]:
코로나[코로나.province=='Daegu'].new_confirmed

2        0
19       0
36       0
53       0
70       0
        ..
7358    23
7375    10
7391    10
7408    12
7424    15
Name: new_confirmed, Length: 437, dtype: int64

# ============================

In [265]:
for name in new_지역 : 
      for name2 in 지역명:
        corona = 코로나[코로나.province==name].new_confirmed
    #print(name, corona)
          
        sales = 기간지정[name2].총소비

        corr = np.corrcoef(corona, sales)
        print(name, name2)
        print(corr)
        corona = pd.Series()
        sales = pd.Series()
        print('====================')

Seoul 전국
[[ 1.         -0.39247564]
 [-0.39247564  1.        ]]
====================
Seoul 서울특별시
[[ 1.         -0.55154155]
 [-0.55154155  1.        ]]
====================
Seoul 부산광역시
[[ 1.         -0.35301424]
 [-0.35301424  1.        ]]
====================
Seoul 대구광역시
[[ 1.       -0.075665]
 [-0.075665  1.      ]]
====================
Seoul 인천광역시
[[ 1.         -0.39538125]
 [-0.39538125  1.        ]]
====================
Seoul 광주광역시
[[ 1.         -0.31225998]
 [-0.31225998  1.        ]]
====================
Seoul 대전광역시
[[ 1.         -0.39138383]
 [-0.39138383  1.        ]]
====================
Seoul 울산광역시
[[ 1.         -0.29497668]
 [-0.29497668  1.        ]]
====================
Seoul 세종특별자치시
[[ 1.         -0.36109933]
 [-0.36109933  1.        ]]
====================
Seoul 경기도
[[ 1.         -0.32957685]
 [-0.32957685  1.        ]]
====================
Seoul 강원도
[[ 1.       -0.249804]
 [-0.249804  1.      ]]
====================
Seoul 충청북도
[[ 1.         -0.36677705]
 [-0.36677705  1.        ]]
====================
Seoul 충청남도
[[ 1.        -0.2523904]
 [-0.2523904  1.       ]]
====================
Seoul 전라북도
[[ 1.         -0.28143073]
 [-0.28143073  1.        ]]
====================
Seoul 전라남도
[[ 1.         -0.24325604]
 [-0.24325604  1.        ]]
====================
Seoul 경상북도
[[ 1.         -0.16719463]
 [-0.16719463  1.        ]]
====================
Seoul 경상남도
[[ 1.         -0.24832241]
 [-0.24832241  1.        ]]
====================
Seoul 제주특별자치도
[[ 1.         -0.16452487]
 [-0.16452487  1.        ]]
====================
Busan 전국
[[ 1.         -0.37032243]
 [-0.37032243  1.        ]]
====================
Busan 서울특별시
[[ 1.        -0.4830685]
 [-0.4830685  1.       ]]
====================
Busan 부산광역시
[[ 1.         -0.34187527]
 [-0.34187527  1.        ]]
====================
Busan 대구광역시
[[ 1.         -0.12215752]
 [-0.12215752  1.        ]]
====================
Busan 인천광역시
[[ 1.         -0.35110047]
 [-0.35110047  1.        ]]
====================
Busan 광주광역시
[[ 1.         -0.28532066]
 [-0.28532066  1.        ]]
====================
Busan 대전광역시
[[ 1.         -0.36097086]
 [-0.36097086  1.        ]]
====================
Busan 울산광역시
[[ 1.         -0.29766208]
 [-0.29766208  1.        ]]
====================
Busan 세종특별자치시
[[ 1.         -0.36246294]
 [-0.36246294  1.        ]]
====================
Busan 경기도
[[ 1.        -0.3109541]
 [-0.3109541  1.       ]]
====================
Busan 강원도
[[ 1.        -0.2665029]
 [-0.2665029  1.       ]]
====================
Busan 충청북도
[[ 1.         -0.37296322]
 [-0.37296322  1.        ]]
====================
Busan 충청남도
[[ 1.         -0.25685578]
 [-0.25685578  1.        ]]
====================
Busan 전라북도
[[ 1.         -0.26947179]
 [-0.26947179  1.        ]]
====================
Busan 전라남도
[[ 1.         -0.24148966]
 [-0.24148966  1.        ]]
====================
Busan 경상북도
[[ 1.         -0.19288898]
 [-0.19288898  1.        ]]
====================
Busan 경상남도
[[ 1.         -0.25702386]
 [-0.25702386  1.        ]]
====================
Busan 제주특별자치도
[[ 1.         -0.17753707]
 [-0.17753707  1.        ]]
====================
Daegu 전국
[[ 1.        -0.1940673]
 [-0.1940673  1.       ]]
====================
Daegu 서울특별시
[[ 1.         -0.12283582]
 [-0.12283582  1.        ]]
====================
Daegu 부산광역시
[[ 1.         -0.16924931]
 [-0.16924931  1.        ]]
====================
Daegu 대구광역시
[[ 1.         -0.40267687]
 [-0.40267687  1.        ]]
====================
Daegu 인천광역시
[[1.         0.01740352]
 [0.01740352 1.        ]]
====================
Daegu 광주광역시
[[ 1.         -0.13322964]
 [-0.13322964  1.        ]]
====================
Daegu 대전광역시
[[ 1.         -0.37269428]
 [-0.37269428  1.        ]]
====================
Daegu 울산광역시
[[ 1.         -0.27752368]
 [-0.27752368  1.        ]]
====================
Daegu 세종특별자치시
[[ 1.         -0.23112113]
 [-0.23112113  1.        ]]
====================
Daegu 경기도
[[ 1.         -0.14096215]
 [-0.14096215  1.        ]]
====================
Daegu 강원도
[[ 1.         -0.16626835]
 [-0.16626835  1.        ]]
====================
Daegu 충청북도
[[ 1.         -0.20451267]
 [-0.20451267  1.        ]]
====================
Daegu 충청남도
[[ 1.        -0.2029561]
 [-0.2029561  1.       ]]
====================
Daegu 전라북도
[[ 1.         -0.16657193]
 [-0.16657193  1.        ]]
====================
Daegu 전라남도
[[ 1.         -0.15056305]
 [-0.15056305  1.        ]]
====================
Daegu 경상북도
[[ 1.         -0.30543586]
 [-0.30543586  1.        ]]
====================
Daegu 경상남도
[[ 1.         -0.22320174]
 [-0.22320174  1.        ]]
====================
Daegu 제주특별자치도
[[ 1.         -0.31481933]
 [-0.31481933  1.        ]]
====================
Incheon 전국
[[ 1.         -0.39309304]
 [-0.39309304  1.        ]]
====================
Incheon 서울특별시
[[ 1.         -0.54256444]
 [-0.54256444  1.        ]]
====================
Incheon 부산광역시
[[ 1.        -0.3478625]
 [-0.3478625  1.       ]]
====================
Incheon 대구광역시
[[ 1.         -0.10291315]
 [-0.10291315  1.        ]]
====================
Incheon 인천광역시
[[ 1.         -0.39161745]
 [-0.39161745  1.        ]]
====================
Incheon 광주광역시
[[ 1.         -0.30353162]
 [-0.30353162  1.        ]]
====================
Incheon 대전광역시
[[ 1.        -0.3924947]
 [-0.3924947  1.       ]]
====================
Incheon 울산광역시
[[ 1.         -0.29600164]
 [-0.29600164  1.        ]]
====================
Incheon 세종특별자치시
[[ 1.         -0.36489081]
 [-0.36489081  1.        ]]
====================
Incheon 경기도
[[ 1.         -0.32768614]
 [-0.32768614  1.        ]]
====================
Incheon 강원도
[[ 1.         -0.26119085]
 [-0.26119085  1.        ]]
====================
Incheon 충청북도
[[ 1.         -0.36659647]
 [-0.36659647  1.        ]]
====================
Incheon 충청남도
[[ 1.         -0.25839806]
 [-0.25839806  1.        ]]
====================
Incheon 전라북도
[[ 1.         -0.28477584]
 [-0.28477584  1.        ]]
====================
Incheon 전라남도
[[ 1.         -0.25227567]
 [-0.25227567  1.        ]]
====================
Incheon 경상북도
[[ 1.         -0.18019928]
 [-0.18019928  1.        ]]
====================
Incheon 경상남도
[[ 1.         -0.25210257]
 [-0.25210257  1.        ]]
====================
Incheon 제주특별자치도
[[ 1.         -0.18769844]
 [-0.18769844  1.        ]]
====================
Gwangju 전국
[[ 1.         -0.31268672]
 [-0.31268672  1.        ]]
====================
Gwangju 서울특별시
[[ 1.         -0.37961097]
 [-0.37961097  1.        ]]
====================
Gwangju 부산광역시
[[ 1.         -0.26675029]
 [-0.26675029  1.        ]]
====================
Gwangju 대구광역시
[[ 1.         -0.12308962]
 [-0.12308962  1.        ]]
====================
Gwangju 인천광역시
[[ 1.         -0.30447469]
 [-0.30447469  1.        ]]
====================
Gwangju 광주광역시
[[ 1.         -0.33224032]
 [-0.33224032  1.        ]]
====================
Gwangju 대전광역시
[[ 1.         -0.28763436]
 [-0.28763436  1.        ]]
====================
Gwangju 울산광역시
[[ 1.         -0.23778957]
 [-0.23778957  1.        ]]
====================
Gwangju 세종특별자치시
[[ 1.         -0.29700378]
 [-0.29700378  1.        ]]
====================
Gwangju 경기도
[[ 1.         -0.28316853]
 [-0.28316853  1.        ]]
====================
Gwangju 강원도
[[ 1.       -0.196703]
 [-0.196703  1.      ]]
====================
Gwangju 충청북도
[[ 1.         -0.30015806]
 [-0.30015806  1.        ]]
====================
Gwangju 충청남도
[[ 1.         -0.22356872]
 [-0.22356872  1.        ]]
====================
Gwangju 전라북도
[[ 1.         -0.23139683]
 [-0.23139683  1.        ]]
====================
Gwangju 전라남도
[[ 1.         -0.23447357]
 [-0.23447357  1.        ]]
====================
Gwangju 경상북도
[[ 1.         -0.17794239]
 [-0.17794239  1.        ]]
====================
Gwangju 경상남도
[[ 1.         -0.21411511]
 [-0.21411511  1.        ]]
====================
Gwangju 제주특별자치도
[[ 1.         -0.16683484]
 [-0.16683484  1.        ]]
====================
Daejeon 전국
[[ 1.         -0.21679409]
 [-0.21679409  1.        ]]
====================
Daejeon 서울특별시
[[ 1.         -0.27908455]
 [-0.27908455  1.        ]]
====================
Daejeon 부산광역시
[[ 1.         -0.21202925]
 [-0.21202925  1.        ]]
====================
Daejeon 대구광역시
[[ 1.         -0.07233584]
 [-0.07233584  1.        ]]
====================
Daejeon 인천광역시
[[ 1.         -0.22318599]
 [-0.22318599  1.        ]]
====================
Daejeon 광주광역시
[[ 1.         -0.19937335]
 [-0.19937335  1.        ]]
====================
Daejeon 대전광역시
[[ 1.         -0.20442991]
 [-0.20442991  1.        ]]
====================
Daejeon 울산광역시
[[ 1.         -0.18539569]
 [-0.18539569  1.        ]]
====================
Daejeon 세종특별자치시
[[ 1.        -0.1748367]
 [-0.1748367  1.       ]]
====================
Daejeon 경기도
[[ 1.        -0.1742352]
 [-0.1742352  1.       ]]
====================
Daejeon

<ipython-input-265-1bc6162a5ba3>:11: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  corona = pd.Series()
<ipython-input-265-1bc6162a5ba3>:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sales = pd.Series()

 강원도
[[ 1.         -0.13772136]
 [-0.13772136  1.        ]]
====================
Daejeon 충청북도
[[ 1.         -0.19006074]
 [-0.19006074  1.        ]]
====================
Daejeon 충청남도
[[ 1.         -0.15136289]
 [-0.15136289  1.        ]]
====================
Daejeon 전라북도
[[ 1.         -0.18239459]
 [-0.18239459  1.        ]]
====================
Daejeon 전라남도
[[ 1.         -0.15777955]
 [-0.15777955  1.        ]]
====================
Daejeon 경상북도
[[ 1.         -0.11556898]
 [-0.11556898  1.        ]]
====================
Daejeon 경상남도
[[ 1.         -0.15402633]
 [-0.15402633  1.        ]]
====================
Daejeon 제주특별자치도
[[ 1.         -0.11041241]
 [-0.11041241  1.        ]]
====================
Ulsan 전국
[[ 1.         -0.31342078]
 [-0.31342078  1.        ]]
====================
Ulsan 서울특별시
[[ 1.         -0.39283735]
 [-0.39283735  1.        ]]
====================
Ulsan 부산광역시
[[ 1.         -0.27943931]
 [-0.27943931  1.        ]]
====================
Ulsan 대구광역시
[[ 1.         -0.11821257]
 [-0.11821257  1.        ]]
====================
Ulsan 인천광역시
[[ 1.         -0.27987673]
 [-0.27987673  1.        ]]
====================
Ulsan 광주광역시
[[ 1.        -0.2323161]
 [-0.2323161  1.       ]]
====================
Ulsan 대전광역시
[[ 1.         -0.30502458]
 [-0.30502458  1.        ]]
====================
Ulsan 울산광역시
[[ 1.         -0.27273886]
 [-0.27273886  1.        ]]
====================
Ulsan 세종특별자치시
[[ 1.         -0.29329922]
 [-0.29329922  1.        ]]
====================
Ulsan 경기도
[[ 1.         -0.27085621]
 [-0.27085621  1.        ]]
====================
Ulsan 강원도
[[ 1.         -0.22481498]
 [-0.22481498  1.        ]]
====================
Ulsan 충청북도
[[ 1.         -0.29700215]
 [-0.29700215  1.        ]]
====================
Ulsan 충청남도
[[ 1.         -0.22103083]
 [-0.22103083  1.        ]]
====================
Ulsan 전라북도
[[ 1.        -0.2535441]
 [-0.2535441  1.       ]]
====================
Ulsan 전라남도
[[ 1.        -0.2111221]
 [-0.2111221  1.       ]]
====================
Ulsan 경상북도
[[ 1.         -0.17989439]
 [-0.17989439  1.        ]]
====================
Ulsan 경상남도
[[ 1.         -0.21637963]
 [-0.21637963  1.        ]]
====================
Ulsan 제주특별자치도
[[ 1.        -0.2028544]
 [-0.2028544  1.       ]]
====================
Sejong 전국
[[ 1.         -0.18176305]
 [-0.18176305  1.        ]]
====================
Sejong 서울특별시
[[ 1.         -0.22593582]
 [-0.22593582  1.        ]]
====================
Sejong 부산광역시
[[ 1.         -0.17534682]
 [-0.17534682  1.        ]]
====================
Sejong 대구광역시
[[ 1.         -0.14208474]
 [-0.14208474  1.        ]]
====================
Sejong 인천광역시
[[ 1.        -0.1741515]
 [-0.1741515  1.       ]]
====================
Sejong 광주광역시
[[ 1.         -0.14055775]
 [-0.14055775  1.        ]]
====================
Sejong 대전광역시
[[ 1.         -0.20630437]
 [-0.20630437  1.        ]]
====================
Sejong 울산광역시
[[ 1.         -0.15214881]
 [-0.15214881  1.        ]]
====================
Sejong 세종특별자치시
[[ 1.         -0.17210749]
 [-0.17210749  1.        ]]
====================
Sejong 경기도
[[ 1.         -0.13867434]
 [-0.13867434  1.        ]]
====================
Sejong 강원도
[[ 1.         -0.12306822]
 [-0.12306822  1.        ]]
====================
Sejong 충청북도
[[ 1.         -0.16400652]
 [-0.16400652  1.        ]]
====================
Sejong 충청남도
[[ 1.        -0.1344452]
 [-0.1344452  1.       ]]
====================
Sejong 전라북도
[[ 1.         -0.12526946]
 [-0.12526946  1.        ]]
====================
Sejong 전라남도
[[ 1.         -0.11037233]
 [-0.11037233  1.        ]]
====================
Sejong 경상북도
[[ 1.         -0.11246546]
 [-0.11246546  1.        ]]
====================
Sejong 경상남도
[[ 1.         -0.13951349]
 [-0.13951349  1.        ]]
====================
Sejong 제주특별자치도
[[ 1.         -0.09873548]
 [-0.09873548  1.        ]]
====================
Gyeonggi-do 전국
[[ 1.         -0.38906884]
 [-0.38906884  1.        ]]
====================
Gyeonggi-do 서울특별시
[[ 1.         -0.53077733]
 [-0.53077733  1.        ]]
====================
Gyeonggi-do 부산광역시
[[ 1.         -0.34840998]
 [-0.34840998  1.        ]]
====================
Gyeonggi-do 대구광역시
[[ 1.         -0.08911194]
 [-0.08911194  1.        ]]
====================
Gyeonggi-do 인천광역시
[[ 1.         -0.41570576]
 [-0.41570576  1.        ]]
====================
Gyeonggi-do 광주광역시
[[ 1.         -0.28504617]
 [-0.28504617  1.        ]]
====================
Gyeonggi-do 대전광역시
[[ 1.        -0.3669301]
 [-0.3669301  1.       ]]
====================
Gyeonggi-do 울산광역시
[[ 1.         -0.30148015]
 [-0.30148015  1.        ]]
====================
Gyeonggi-do 세종특별자치시
[[ 1.         -0.34965539]
 [-0.34965539  1.        ]]
====================
Gyeonggi-do 경기도
[[ 1.         -0.32824154]
 [-0.32824154  1.        ]]
====================
Gyeonggi-do 강원도
[[ 1.         -0.27972558]
 [-0.27972558  1.        ]]
====================
Gyeonggi-do 충청북도
[[ 1.         -0.36694922]
 [-0.36694922  1.        ]]
====================
Gyeonggi-do 충청남도
[[ 1.         -0.26363686]
 [-0.26363686  1.        ]]
====================
Gyeonggi-do 전라북도
[[ 1.         -0.26367164]
 [-0.26367164  1.        ]]
====================
Gyeonggi-do 전라남도
[[ 1.         -0.25316621]
 [-0.25316621  1.        ]]
====================
Gyeonggi-do 경상북도
[[ 1.         -0.17553088]
 [-0.17553088  1.        ]]
====================
Gyeonggi-do 경상남도
[[ 1.         -0.25388607]
 [-0.25388607  1.        ]]
====================
Gyeonggi-do 제주특별자치도
[[ 1.         -0.14196787]
 [-0.14196787  1.        ]]
====================
Gangwon-do 전국
[[ 1.         -0.29231278]
 [-0.29231278  1.        ]]
====================
Gangwon-do 서울특별시
[[ 1.         -0.40339659]
 [-0.40339659  1.        ]]
====================
Gangwon-do 부산광역시
[[ 1.         -0.25687234]
 [-0.25687234  1.        ]]
====================
Gangwon-do 대구광역시
[[ 1.         -0.05537147]
 [-0.05537147  1.        ]]
====================
Gangwon-do 인천광역시
[[ 1.         -0.31106313]
 [-0.31106313  1.        ]]
====================
Gangwon-do 광주광역시
[[ 1.         -0.20815081]
 [-0.20815081  1.        ]]
====================
Gangwon-do 대전광역시
[[ 1.         -0.26851742]
 [-0.26851742  1.        ]]
====================
Gangwon-do 울산광역시
[[ 1.         -0.20025903]
 [-0.20025903  1.        ]]
====================
Gangwon-do 세종특별자치시
[[ 1.         -0.24961547]
 [-0.24961547  1.        ]]
====================
Gangwon-do 경기도
[[ 1.         -0.24697302]
 [-0.24697302  1.        ]]
====================
Gangwon-do 강원도
[[ 1.         -0.23355179]
 [-0.23355179  1.        ]]
====================
Gangwon-do 충청북도
[[ 1.         -0.26913741]
 [-0.26913741  1.        ]]
====================
Gangwon-do 충청남도
[[ 1.         -0.20247018]
 [-0.20247018  1.        ]]
====================
Gangwon-do 전라북도
[[ 1.         -0.20988115]
 [-0.20988115  1.        ]]
====================
Gangwon-do 전라남도
[[ 1.         -0.19940019]
 [-0.19940019  1.        ]]
====================
Gangwon-do 경상북도
[[ 1.         -0.12176286]
 [-0.12176286  1.        ]]
====================
Gangwon-do 경상남도
[[ 1.         -0.19855915]
 [-0.19855915  1.        ]]
====================
Gangwon-do 제주특별자치도
[[ 1.         -0.06940176]
 [-0.06940176  1.        ]]
====================
Chungcheongbuk-do 전국
[[ 1.         -0.29894114]
 [-0.29894114  1.        ]]
====================
Chungcheongbuk-do 서울특별시
[[ 1.         -0.39660742]
 [-0.39660742  1.        ]]
====================
Chungcheongbuk-do 부산광역시
[[ 1.         -0.26396937]
 [-0.26396937  1.        ]]
====================
Chungcheongbuk-do 대구광역시
[[ 1.        -0.0630982]
 [-0.0630982  1.       ]]
====================
Chungcheongbuk-do 인천광역시
[[ 1.        -0.2844663]
 [-0.2844663  1.       ]]
====================
Chungcheongbuk-do 광주광역시
[[ 1.         -0.18680114]
 [-0.18680114  1.        ]]
====================
Chungcheongbuk-do 대전광역시
[[ 1.         -0.30269494]
 [-0.30269494  1.        ]]
====================
Chungcheongbuk-do 울산광역시
[[ 1.         -0.23519112]
 [-0.23519112  1.        ]]
====================
Chungcheongbuk-do 세종특별자치시
[[ 1.         -0.27086703]
 [-0.27086703  1.        ]]
====================
Chungcheongbuk-do 경기도
[[ 1.         -0.24989647]
 [-0.24989647  1.        ]]
====================
Chungcheongbuk-do 강원도
[[ 1.         -0.23709533]
 [-0.23709533  1.        ]]
====================
Chungcheongbuk-do 충청북도
[[ 1.         -0.30134767]
 [-0.30134767  1.        ]]
====================
Chungcheongbuk-do 충청남도
[[ 1.         -0.19632328]
 [-0.19632328  1.        ]]
====================
Chungcheongbuk-do 전라북도
[[ 1.         -0.21552227]
 [-0.21552227  1.        ]]
====================
Chungcheongbuk-do 전라남도
[[ 1.         -0.18920625]
 [-0.18920625  1.        ]]
====================
Chungcheongbuk-do 경상북도
[[ 1.         -0.15908377]
 [-0.15908377  1.        ]]
====================
Chungcheongbuk-do 경상남도
[[ 1.         -0.20284513]
 [-0.20284513  1.        ]]
====================
Chungcheongbuk-do 제주특별자치도
[[ 1.         -0.19487259]
 [-0.19487259  1.        ]]
====================
Chungcheongnam-do 전국
[[ 1.         -0.34435601]
 [-0.34435601  1.        ]]
====================
Chungcheongnam-do 서울특별시
[[ 1.         -0.43922289]
 [-0.43922289  1.        ]]
====================
Chungcheongnam-do 부산광역시
[[ 1.         -0.31310984]
 [-0.31310984  1.        ]]
====================
Chungcheongnam-do 대구광역시
[[ 1.         -0.13138701]
 [-0.13138701  1.        ]]
====================
Chungcheongnam-do 인천광역시
[[ 1.         -0.32537979]
 [-0.32537979  1.        ]]
====================
Chungcheongnam-do 광주광역시
[[ 1.         -0.28628529]
 [-0.28628529  1.        ]]
====================
Chungcheongnam-do 대전광역시
[[ 1.         -0.33566111]
 [-0.33566111  1.        ]]
====================
Chungcheongnam-do 울산광역시
[[ 1.         -0.27673877]
 [-0.27673877  1.        ]]
====================
Chungcheongnam-do 세종특별자치시
[[ 1.         -0.32223054]
 [-0.32223054  1.        ]]
====================
Chungcheongnam-do 경기도
[[ 1.        -0.2903302]
 [-0.2903302  1.       ]]
====================
Chungcheongnam-do 강원도
[[ 1.         -0.23517182]
 [-0.23517182  1.        ]]
====================
Chungcheongnam-do 충청북도
[[ 1.         -0.32710699]
 [-0.32710699  1.        ]]
====================
Chungcheongnam-do 충청남도
[[ 1.        -0.2584758]
 [-0.2584758  1.       ]]
====================
Chungcheongnam-do 전라북도
[[ 1.         -0.25895376]
 [-0.25895376  1.        ]]
====================
Chungcheongnam-do 전라남도
[[ 1.         -0.24434062]
 [-0.24434062  1.        ]]
====================
Chungcheongnam-do 경상북도
[[ 1.         -0.19047449]
 [-0.19047449  1.        ]]
====================
Chungcheongnam-do 경상남도
[[ 1.         -0.24405888]
 [-0.24405888  1.        ]]
====================
Chungcheongnam-do 제주특별자치도
[[ 1.         -0.16716833]
 [-0.16716833  1.        ]]
====================
Jeollabuk-do 전국
[[ 1.         -0.27572124]
 [-0.27572124  1.        ]]
====================
Jeollabuk-do 서울특별시
[[ 1.         -0.36281341]
 [-0.36281341  1.        ]]
====================
Jeollabuk-do 부산광역시
[[ 1.        -0.2452059]
 [-0.2452059  1.       ]]
====================

Jeollabuk-do 대구광역시
[[ 1.         -0.04316755]
 [-0.04316755  1.        ]]
====================
Jeollabuk-do 인천광역시
[[ 1.         -0.28696437]
 [-0.28696437  1.        ]]
====================
Jeollabuk-do 광주광역시
[[ 1.         -0.19076076]
 [-0.19076076  1.        ]]
====================
Jeollabuk-do 대전광역시
[[ 1.         -0.26663081]
 [-0.26663081  1.        ]]
====================
Jeollabuk-do 울산광역시
[[ 1.         -0.20250352]
 [-0.20250352  1.        ]]
====================
Jeollabuk-do 세종특별자치시
[[ 1.         -0.21868846]
 [-0.21868846  1.        ]]
====================
Jeollabuk-do 경기도
[[ 1.         -0.24106452]
 [-0.24106452  1.        ]]
====================
Jeollabuk-do 강원도
[[ 1.         -0.21410936]
 [-0.21410936  1.        ]]
====================
Jeollabuk-do 충청북도
[[ 1.         -0.25420942]
 [-0.25420942  1.        ]]
====================
Jeollabuk-do 충청남도
[[ 1.         -0.18806359]
 [-0.18806359  1.        ]]
====================
Jeollabuk-do 전라북도
[[ 1.         -0.20824324]
 [-0.20824324  1.        ]]
====================
Jeollabuk-do 전라남도
[[ 1.         -0.18971553]
 [-0.18971553  1.        ]]
====================
Jeollabuk-do 경상북도
[[ 1.         -0.12817364]
 [-0.12817364  1.        ]]
====================
Jeollabuk-do 경상남도
[[ 1.         -0.19217692]
 [-0.19217692  1.        ]]
====================
Jeollabuk-do 제주특별자치도
[[ 1.         -0.10806861]
 [-0.10806861  1.        ]]
====================
Jeollanam-do 전국
[[ 1.         -0.22427434]
 [-0.22427434  1.        ]]
====================
Jeollanam-do 서울특별시
[[ 1.         -0.32690399]
 [-0.32690399  1.        ]]
====================
Jeollanam-do 부산광역시
[[ 1.         -0.20143924]
 [-0.20143924  1.        ]]
====================
Jeollanam-do 대구광역시
[[ 1.         -0.00299042]
 [-0.00299042  1.        ]]
====================
Jeollanam-do 인천광역시
[[ 1.         -0.24885718]
 [-0.24885718  1.        ]]
====================
Jeollanam-do 광주광역시
[[ 1.         -0.21712226]
 [-0.21712226  1.        ]]
====================
Jeollanam-do 대전광역시
[[ 1.         -0.19423188]
 [-0.19423188  1.        ]]
====================
Jeollanam-do 울산광역시
[[ 1.        -0.1198369]
 [-0.1198369  1.       ]]
====================
Jeollanam-do 세종특별자치시
[[ 1.        -0.1899203]
 [-0.1899203  1.       ]]
====================
Jeollanam-do 경기도
[[ 1.         -0.19183933]
 [-0.19183933  1.        ]]
====================
Jeollanam-do 강원도
[[ 1.         -0.14566417]
 [-0.14566417  1.        ]]
====================
Jeollanam-do 충청북도
[[ 1.         -0.19033548]
 [-0.19033548  1.        ]]
====================
Jeollanam-do 충청남도
[[ 1.         -0.15481626]
 [-0.15481626  1.        ]]
====================
Jeollanam-do 전라북도
[[ 1.        -0.1646553]
 [-0.1646553  1.       ]]
====================
Jeollanam-do 전라남도
[[ 1.         -0.19041356]
 [-0.19041356  1.        ]]
====================
Jeollanam-do 경상북도
[[ 1.         -0.06420988]
 [-0.06420988  1.        ]]
====================
Jeollanam-do 경상남도
[[ 1.        -0.1457325]
 [-0.1457325  1.       ]]
====================
Jeollanam-do 제주특별자치도
[[1.         0.00271512]
 [0.00271512 1.        ]]
====================
Gyeongsangbuk-do 전국
[[ 1.         -0.30779599]
 [-0.30779599  1.        ]]
====================
Gyeongsangbuk-do 서울특별시
[[ 1.         -0.27263654]
 [-0.27263654  1.        ]]
====================
Gyeongsangbuk-do 부산광역시
[[ 1.         -0.25625177]
 [-0.25625177  1.        ]]
====================
Gyeongsangbuk-do 대구광역시
[[ 1.         -0.39939048]
 [-0.39939048  1.        ]]
====================
Gyeongsangbuk-do 인천광역시
[[ 1.         -0.10114952]
 [-0.10114952  1.        ]]
====================
Gyeongsangbuk-do 광주광역시
[[ 1.         -0.22234271]
 [-0.22234271  1.        ]]
====================
Gyeongsangbuk-do 대전광역시
[[ 1.         -0.44773289]
 [-0.44773289  1.        ]]
====================
Gyeongsangbuk-do 울산광역시
[[ 1.         -0.34104073]
 [-0.34104073  1.        ]]
====================
Gyeongsangbuk-do 세종특별자치시
[[ 1.         -0.35613689]
 [-0.35613689  1.        ]]
====================
Gyeongsangbuk-do 경기도
[[ 1.        -0.2473407]
 [-0.2473407  1.       ]]
====================
Gyeongsangbuk-do 강원도
[[ 1.         -0.25843152]
 [-0.25843152  1.        ]]
====================
Gyeongsangbuk-do 충청북도
[[ 1.         -0.34007205]
 [-0.34007205  1.        ]]
====================
Gyeongsangbuk-do 충청남도
[[ 1.         -0.27117432]
 [-0.27117432  1.        ]]
====================
Gyeongsangbuk-do 전라북도
[[ 1.         -0.26465497]
 [-0.26465497  1.        ]]
====================
Gyeongsangbuk-do 전라남도
[[ 1.        -0.2312391]
 [-0.2312391  1.       ]]
====================
Gyeongsangbuk-do 경상북도
[[ 1.         -0.36035897]
 [-0.36035897  1.        ]]
====================
Gyeongsangbuk-do 경상남도
[[ 1.       -0.294733]
 [-0.294733  1.      ]]
====================
Gyeongsangbuk-do 제주특별자치도
[[ 1.        -0.3782187]
 [-0.3782187  1.       ]]
====================
Gyeongsangnam-do 전국
[[ 1.         -0.29129071]
 [-0.29129071  1.        ]]
====================
Gyeongsangnam-do 서울특별시
[[ 1.         -0.37518069]
 [-0.37518069  1.        ]]
====================
Gyeongsangnam-do 부산광역시
[[ 1.         -0.26111394]
 [-0.26111394  1.        ]]
====================
Gyeongsangnam-do 대구광역시
[[ 1.         -0.08793885]
 [-0.08793885  1.        ]]
====================
Gyeongsangnam-do 인천광역시
[[ 1.        -0.2959379]
 [-0.2959379  1.       ]]
====================
Gyeongsangnam-do 광주광역시
[[ 1.         -0.19478754]
 [-0.19478754  1.        ]]
====================
Gyeongsangnam-do 대전광역시
[[ 1.         -0.26008104]
 [-0.26008104  1.        ]]
====================
Gyeongsangnam-do 울산광역시
[[ 1.         -0.22541488]
 [-0.22541488  1.        ]]
====================
Gyeongsangnam-do 세종특별자치시
[[ 1.         -0.24892592]
 [-0.24892592  1.        ]]
====================
Gyeongsangnam-do 경기도
[[ 1.        -0.2408052]
 [-0.2408052  1.       ]]
====================
Gyeongsangnam-do 강원도
[[ 1.         -0.26142787]
 [-0.26142787  1.        ]]
====================
Gyeongsangnam-do 충청북도
[[ 1.         -0.28413108]
 [-0.28413108  1.        ]]
====================
Gyeongsangnam-do 충청남도
[[ 1.         -0.20889074]
 [-0.20889074  1.        ]]
====================
Gyeongsangnam-do 전라북도
[[ 1.         -0.20686207]
 [-0.20686207  1.        ]]
====================
Gyeongsangnam-do 전라남도
[[ 1.         -0.20012055]
 [-0.20012055  1.        ]]
====================
Gyeongsangnam-do 경상북도
[[ 1.         -0.15489633]
 [-0.15489633  1.        ]]
====================
Gyeongsangnam-do 경상남도
[[ 1.         -0.22097011]
 [-0.22097011  1.        ]]
====================
Gyeongsangnam-do 제주특별자치도
[[ 1.         -0.12013252]
 [-0.12013252  1.        ]]
====================

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 101 and the array at index 1 has size 437

In [249]:
코로나.province.unique()

array(['Seoul', 'Busan', 'Daegu', 'Incheon', 'Gwangju', 'Daejeon',
       'Ulsan', 'Sejong', 'Gyeonggi-do', 'Gangwon-do',
       'Chungcheongbuk-do', 'Chungcheongnam-do', 'Jeollabuk-do',
       'Jeollanam-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do',
       'Jeju'], dtype=object)

In [250]:
지역명

['전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [251]:
new_지역 = ['Seoul', 'Busan', 'Daegu', 'Incheon', 'Gwangju', 'Daejeon',
       'Ulsan', 'Sejong', 'Gyeonggi-do', 'Gangwon-do',
       'Chungcheongbuk-do', 'Chungcheongnam-do', 'Jeollabuk-do',
       'Jeollanam-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do',
       'Jeju']